.section-our-work {
    padding-top: 0;
}

.our-work .img {
    display: block;
    max-width: 100%;
    height: auto;
}

.our-work {
    display: flex;
    justify-content: space-between;
}

.our-work .item {
    position: relative;
    :not(:last-child) {
            margin-right: 30px;
        }
}
.our-work-title,
.team-title,
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.work-title {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}